Package: e-zil
Version: 2.7.0
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 3198
Depends: libc6 (>= 2.14), libgcc-s1 (>= 3.0), libqt5core5a (>= 5.15.1), libqt5gui5 (>= 5.0.2) | libqt5gui5-gles (>= 5.0.2), libqt5multimedia5 (>= 5.6.0~beta), libqt5network5 (>= 5.0.2), libqt5widgets5 (>= 5.0.2), libstdc++6 (>= 5.2), libqt5multimedia5-plugins, libqt5multimediawidgets5, libqt5xml5
Section: utils
Priority: optional
Homepage: http://pardus.org.tr
Description: E-Zil uygulaması
