Source: e-zil
Section: utils
Priority: optional
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Build-Depends: debhelper (>= 10), 
    qtdeclarative5-dev
Standards-Version: 3.9.8
Homepage: http://pardus.org.tr

Package: e-zil
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
	libqt5core5a,
    	libqt5gui5,
    	libqt5network5,
    	libqt5widgets5,
    	libqt5svg5
Description: E-Zil uygulaması
