Package: e-zil-dbgsym
Source: e-zil
Version: 2.9.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 77
Depends: e-zil (= 2.9.0)
Section: debug
Priority: optional
Description: debug symbols for e-zil
Build-Ids: 361055bb24f79b0ac7a3b0eec216482bb3053094 900e22230aa3d65451b60f4ff634078ca608e73d
