Package: e-zil-dbgsym
Source: e-zil
Version: 2.8.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 77
Depends: e-zil (= 2.8.0)
Section: debug
Priority: optional
Description: debug symbols for e-zil
Build-Ids: 24d7f266764291f1a72ae9ea3b159621e20c86cb ddf18743ab573e19e48bd49acb5a80e8030f02ca
